<p>Au Petit Village est une entreprise artisanale spécialisée dans la confection de figurines inspirées de l’univers
    d’Astérix et Obélix.
    <br><br>
    Fondée en Bretagne par Pierre Durand, un passionné de sculpture, elle vise à capturer l’humour
    et l’authenticité des célèbres Gaulois dans des pièces de collection uniques.
    <br>
    En s’adressant principalement aux
    adultes nostalgiques âgés de 30 à 55 ans, Au Petit Village est devenue un symbole de qualité et de fidélité à
    l’esprit de la bande dessinée.
    <br><br>
    Plus qu’un simple atelier, cette entreprise est un hommage vivant à l’héritage
    culturel et humoristique de la Gaule d’Astérix, qui séduit les fans de tous âges.
</p>